
  .custom-table {
    margin-top: 20px;
  }

  .ant-table-wrapper {
    margin-left: 20px; /* Đặt khoảng cách lề trái là 20px */
    margin-right: 20px;
  }

  .fixed-button-container {
    position: fixed;
    top: 10px;
    right: 0; /* Move button to the right */
    width: auto; /* Allow button to shrink */
    padding: 10px 20px; /* Add some padding for visual comfort */
    background-color: #fff;
    z-index: 10;
  }
  
  .table-title {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align items */
    margin-bottom: 20px; /* Add some space below the title */
  }
  
  .table-title  {
    padding-left: 20px;
    font-size: 50px;
    margin-left: auto; /* Push button to the right */
  }

  .container{
    display: flex;
    flex-direction: column;
  }

